#map {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

#info {
    padding-top: 10px;
    padding-left: 15px;
    position: absolute;
    bottom: 0px;
    height: 120px;
    width: 100%;
    background-color: #e8e8e8;
    z-index: 100;
    border: 1px solid #bcbcbc;
    opacity: 0.8;
    font-family: "Verdana", Geneva, sans-serif;
    display: none;
}

#legend {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 101;
}

/* unvisited link */
a:link {
   color: #4286f4;
}

/* visited link */
a:visited {
   color: #7b99bf;
}

/* mouse over link */
a:hover {
   color: #41c4f4;
}

/* selected link */
a:active {
   color: #41eef4;
}

.ol-attribution {
    font-family: "Verdana", Geneva, sans-serif;
}
